@charset "utf-8";

/* about */
.about-banner-part{
	min-height: 498px;
	background: url(../images/about-banner.jpg) no-repeat center center;
	background-size: cover;
}
.about-banner-part h4.pubanner-subtitle{
   max-width: 588px;
}
.about-memorabilia-part{
   background: #F5F5F5;
}
.about-memorabilia-part .row{
   padding: 101px 1.8% 92px;
}
.about-memorabilia-part h1{
    color: #373737;
    line-height: 72px;
    margin: 0;
    font-weight: 400;
}
.about-memorabilia-part h2{
    color: #b6b6b6;
    margin: 24px 0 0;
}
.about-memorabilia-part p{
    font-size: 24px;
    color: #7b7b7b;
    line-height: 50px;
    margin: 0;
    padding-right: 6%;
    padding-bottom: 16px;
}
.about-memorabilia-part .col-5{
	text-align: right;
}
.about-memorabilia-part .right-part{
	background: #FFFFFF;
    display: inline-block;
    text-align: left;
}
.about-memorabilia-part .right-part h2,.about-memorabilia-part .right-part h3, .about-memorabilia-part .right-part p{
	padding: 0 4%;
}
.about-memorabilia-part .right-part h2{
    margin: 29px 0 0;
}
.about-memorabilia-part h3{
    color: #373737;
    line-height: 50px;
    margin: 4px 0 6px;
    font-weight: 400;
}
.about-memorabilia-part .right-part p{
	color: #b6b6b6;
    padding-bottom: 52px;
    line-height: 35px;
}
.introduce-customer-part .container{
	padding: 63px 0 69px;
}
.introduce-customer-part h3{
    color: #7b7b7b;
    margin: 30px 0 37px;
    font-weight: 400;
}
.introduce-customer-part .row{
	padding: 0 1.8%;
}
.introduce-customer-part .col-13{
	margin: 0;
    border-top: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    padding: 24px 0 33px;
}
.introduce-customer-part .row .col-13:last-child{
	border-right: 1px solid #E9E9E9;
}
.introduce-customer-part .row:last-child .col-13{
	border-bottom: 1px solid #E9E9E9;
}

/* contact */
.contact-banner-part{
   min-height: 1012px;
   background: url(../images/contact-bg.jpg) no-repeat center center;
   background-size: cover;
}
.contact-banner-part h1{
    font-size: 55px;
    line-height: 98px;
    margin: 234px 0 0;
    text-align: center;
    font-weight: 400;
}
.contact-banner-part h4{
	margin: 23px auto 0;
    line-height: 40px;
    max-width: 600px;
}
.contact-banner-part .contact-infopart{
	margin-top: 114px;
   padding: 0 8%;
}
.contact-banner-part .contact-logo{
  height: 62px;
  line-height: 1;
}
.contact-banner-part .contact-logo i{
  color: #FFFFFF;
  line-height: 1;
}
.contact-banner-part .icon-phone{
  font-size: 58px;
}
.contact-banner-part .icon-skype{
  font-size: 56px;
}
.contact-banner-part .icon-email{
  font-size: 62px;
}
.contact-banner-part .contact-infopart h3{
  font-weight: 400;
}

/* help */
.help-banner-part{
   min-height: 498px;
   background: url(../images/help-banner.jpg) no-repeat center center;
   background-size: cover;
}
.help-content-part .row{
   padding: 58px 1.8% 94px;
}
.help-content-part ul{
  margin: 0;
  padding: 0;
}
.help-content-part li{
  display: block;
  cursor: pointer;
}
.help-content-part li h3{
  color: #373737;
  padding: 16px 0;
  border-bottom: 1px solid #EBEBEB;
  margin: 0;
  font-weight: 400;
}
.help-content-part li a{
  color: #b6b6b6;
}
.help-content-part .triangle-icon{
  width: 9px;
  height: 14px;
  display: inline-block;
  background: url(../images/triangle-icon.png) no-repeat center center;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.help-content-part .triangle-icon.down{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}
.help-content-part li .faq-cont{
  display: none;
  font-size: 24px;
  color: #b6b6b6;
  line-height: 36px;
  padding: 25px 2% 15px;
}