@media (max-width: 1130px){
  #img-parallax-1 {
    background-size: auto 150%;
  }
}

@media only screen and (max-width: 799px) {
  * {
     font-weight: 400;
   }
  #img-parallax-1 {
    background-size: auto 120%;
    margin-top: 0px !important;
  }
  #hero {
    margin-top: 0px;
    padding-top: 0px;
  }
  #hero h1 {
    margin-top: 130px;
    font-size: 40px;
    line-height: 51px;
  }
  #hero h2{
    font-size: 22px;
    font-weight: 400;
  }
  #hero .col-5{
    margin-bottom: 89px;
  }
  .navbar{
    display:none;
  }
  .m-nav-container{
    display: block !important;
  }
  .foot-part{
    padding: 67px 0 72px;
  }
  .foot-part a,.foot-part p{
    float: none;
    text-align: center;
  }
  div.foot-part p{
    font-size: 16px;
    padding: 16px 0 0 0;
  }
  .foot-part .col-5{
    text-align: center;
  }
  form .form-control {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  form button[type="button"] {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
  }
  .section h1,.issue-shares-part .issue-shares-item.active h3,.market-prediction-part .revenue-section h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.58;
    letter-spacing: 0.5px;
  }
  .section p,.help-content-part li .faq-cont{
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  .section h3{
    font-size: 22px;
  }
  .section h4 {
    font-size: 20px;
  }
  .superiority-part h2,.section h2,.section .normtitle,.market-prediction-part .revenue-section h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.58;
    letter-spacing: 0.5px;
  }
  .android-icon, .ios-icon{
     width: 20px;
  }
  .btn{
    padding: 5px 20px 5px 15px;
    font-size: 18px;
    margin: 0 5px 10px 0;
    font-weight: 400;
  }
  .white-paperbtn{
    margin: 0 0 10px 0;
    padding: 5px 20px;
  }
  .download-btngroup{
    text-align: center;
    margin: 0 auto;
  }
  .superiority-part p{
    margin: 0;
  }
  .mobile-center{
    text-align: center;
  }
  .superiority-part {
    padding: 81px 0 71px 0;
  }
  .efficient-world {
    padding: 8px 0 80px;
  }
  .asset-management {
    padding: 81px 0 49px;
  }
  .white-paper-part{
    padding: 0 0 67px;
  }
  .white-paper-part h1{
    margin: 73px 0 0;
    letter-spacing: 0.3px;
  }
  .subscribe-part {
    padding: 65px 0 110px;
  }
  .tips-information{
    font-size: 16px;
  }

  /* about */
  .section .pubanner-title,.contact-banner-part h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.58;
  }
  .about-memorabilia-part .row{
    padding: 73px 0 81px;
  }
  .about-memorabilia-part h2{
    font-weight: 400;
  }
  .about-memorabilia-part p{
    padding-right: 0;
  }
  .introduce-customer-part .row{
    padding: 0;
  }
  .introduce-customer-part .row .col-13:nth-child(2){
    border-right: 1px solid #E9E9E9;
  }
  .about-memorabilia-part .col-5 {
    text-align: center;
  }
  .introduce-customer-part .container {
    padding: 52px 0 89px;
  }

  /* contact */
  .contact-banner-part .contact-infopart{
    padding: 0;
    margin-top: 57px;
  }
  .contact-banner-part h1{
    margin: 215px 0 0;
  }

  /* help */
  .help-content-part .row{
    padding: 58px 0 81px;
  }

  /* white-paper */
  .whitepa-video-part .row {
    padding: 40px 0 75px;
  }
  .whitepa-video-part h1{
     margin: 33px 0 34px;
  }
  .operate-rules-part{
     min-height: 911px;
  }
  .operate-rules-part .row{
     padding: 25px 0 0;
  }
  .operate-rules-part .row:first-child {
    padding: 57px 0 0;
  }
  .uet-anc-part h2{
    margin: 83px 0 38px;
  }
  .section .big-font {
    font-size: 30px;
  }
  .uet-anc-part .first > div {
    min-height: auto;
    border-right: 1px solid #CACACA;
  }
  .uet-anc-part .seconde .col-14{
    min-height: auto;
    padding-top: 0;
  }
  .uet-anc-part .row{
    padding: 0;
  }
  .uet-anc-part .col-14{
    margin: 0.5rem 0 0;
    border-bottom: none;
    padding-top: 0;
  }
  .uet-anc-part .col-15{
    margin:0 0 0.5rem;
  }
  .section .big-number{
    font-size: 50px;
  }
  .issue-shares-part {
    background: url(../images/whitepaper/issue-shares-bg.jpg) no-repeat center center;
    background-size: cover;
  }
  .issue-shares-part h1 {
    margin: 82px 0 41px;
  }
  .issue-shares-part .row {
    padding: 0;
  }
  .issue-shares-part .issue-shares-item,.issue-shares-part .issue-shares-item.active{
    width: 100%;
  }
  .fee-calculation-part .row {
    padding: 56px 0 80px;
  }
  .market-prediction-part .revenue-section .col-4{
    width: 100%;
    min-height: initial;
    margin: 0.5rem 0;
    padding:0 10% 40px;
  }
  .application-portal-part{
    min-height: initial;
  }
  .application-portal-part .row {
    padding: 58px 0 0;
  }
  .application-portal-part h4{
    line-height: 40px;
  }
  .market-prediction-part div.market-prediction {
    padding: 57px 0 0;
  }
  .market-prediction-part .row {
    padding: 20px 0 0;
  }
  .read-whitepap-part .row {
    padding: 0 ;
  }
}

@media only screen and (max-width: 750px) {
   div.m-nav-title{
      padding: 10px 0 9px;
   }
   .m-nav-title img{
      width: 150px;
   }
}

@media only screen and (max-width: 680px) {
   form .form-control {
      border-radius: 35px;
      padding: 0 82px 0 2.5%;
   }
   form button[type="button"] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 20px 0 16px;
   }
}

@media only screen and (min-width: 800px) {
  .navbar{
    display:block !important;
  }
  .m-nav-container{
    display:none !important;
  }
}

@media only screen and (max-width: 1130px) and (min-width: 800px) {
  .application-portal-part {
    min-height: initial;
  }
  .foot-part p{
     padding: 16px 0 0 0;
  }
}

@media (max-width: 375px){
  #img-parallax-1 {
    background-size: auto 100%;
  }
}

/* Make fonts thicker for larger screen sizes */
@media (min-width: 2480px){
  *, p {
    font-weight: 400;
  }
}