/* IMPORT FONTS iconfont  ,  project  9-juan */
@import url('https://at.alicdn.com/t/font_571184_6tdpvij3h43oko6r.css');
.iconfont{vertical-align: middle;font-size:inherit;}

/* ROOT FONT STYLES */
* {
  line-height: 1.5;
  font-weight: 300;
}

/* UNIVERSAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background: #FFFFFF;
  font-size: 100%;
  font-family: 'Microsoft Yahei', sans-serif;
}
/* Standard Elements */
h1 {
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.375rem;
  font-weight: 300;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}
a {
  color: #14171a;
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--teal);
}
b {
  font-weight: 500;
}
ol li {
  font-weight: 300;
  padding-left: 15px;
  font-size: 1em;
  line-height: 2em;
}
ol li a {
  font-weight: 400;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
}
img {
  border: none;
  vertical-align: middle;
}
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.cfx {
  clear: both;
  zoom: 1
}

.cfx:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '.'
}
.hidden{
  display: none !important;
}
.hide{
  display: none;
}

/* #滚动条
=========*/
::-webkit-scrollbar{ width: 8px; height: 8px;}

::-webkit-scrollbar-track-piece{ margin: -2px; background-color: #eee;}

::-webkit-scrollbar-thumb{ min-width: 150px; min-height: 150px; border-radius: 10px; background: #aaa;}

::-webkit-scrollbar-thumb:vertical:hover{ background: #555;}

::-webkit-scrollbar-thumb:horizontal:hover{ background: #555;}
/* Color Style Classes */
/* Background Color White */
.bg-white {
  background-color: rgba(255,255,255,1);
}
/* Font Color White */
.f-white {
  color: rgba(255,255,255,1) !important;
}
/* Font Color White */
.f-dark {
  color: var(--black);
}

/* Content */
#hero {
  height: auto;
  /*min-height: 100vh;*/
  /* This margin-top is to compensate for subtracted margin from slant style on hero */
  margin-top: 341px;
}

#hero h1 {
  font-size: 70px;
  line-height: 74px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-top: 78px;
  margin-bottom: 31px;
}

#hero h2 {
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 1px;
  font-weight: 100;
  max-width: 600px;
}
.download-btngroup{
  margin: 45px auto 10px;
}
.download-btngroup i{
  font-style: normal;
}
.superiority-part{
  padding: 113px 0 128px 0;
}
.superiority-part h2{
  font-size: 36px;
  color: #353535;
  margin: 17px 0;
}
.superiority-part p{
  margin: 0 6%;
  color: #828282;
  text-align: center;
  font-size: 20px;
}
.index-download-conleft{
  margin-right: 50px;
  float: left;
}
.index-download-coderight{
  padding-top: 20px;
  float: left;
}
.index-download-coderight p{
  margin-top: 7px;
  font-size: 20px;
  text-align: center;
}

.section {
  width: 100%;
  height: auto;
  min-height: 250px;
  overflow: hidden;
}
.section.dark {
  background-color: var(--black);
}
.section.gray-black{
  background: #363636;
}
.section.blue-purple{
  background: #6F91FF;
}
.section.light-green{
  background: #EBFDFE;
}
.section h1{
  font-size: 48px;
}
.section h2{
  font-size: 36px;
}
.section h3{
  font-size: 30px;
}
.section h4{
  font-size: 24px;
}
.section p{
  font-size: 20px;
}
.section .big-font{
  font-size: 60px;
}
.section .big-number{
  font-style: normal;
  font-size: 100px;
  font-weight: 400;
}
.section .normtitle{
  font-size: 32px;
}
.section .pubanner-title{
  font-size: 55px;
  line-height: 90px;
  margin: 215px 0 0;
  font-weight: 400;
}
.section .enmobile-pubanner-title{
  margin: 160px 0 0;
}
.section .pubanner-subtitle{
  line-height: 42px;
  margin: 0;
  max-width: 740px;
}
.enmobile-lineheg{
  line-height: 36px !important;
}
.efficient-world{
  padding: 67px 0 65px;
}
.efficient-world h1{
  margin: 65px 0 0;
}
.efficient-world p{
  margin: 7px 0 9px;
}
.efficient-world h3{
  margin-top: 0;
}
.asset-management{
  padding: 185px 0 136px;
}
.asset-management h1{
  color: #363636;
  margin: 0px 0px 28px;
  line-height: 62px;
}
.asset-management p{
  font-size: 24px;
  color: #868686;
  font-weight: 100;
  line-height: 48px;
}
.asset-management h4{
  color: #2c2c2c;
}
.white-paper-part h1{
  color: #006776;
  margin: 143px 0 0;
}
.white-paper-part p{
  color: #2c2c2c;
  margin: 16px 0 30px;
}
.subscribe-part{
  padding: 65px 0 141px;
}
.subscribe-part h1{
  color: #363636;
  margin-bottom: 25px;
}
.subscribe-part p{
  font-size: 24px;
  color: #9b9b9b;
  font-weight: 100;
  margin: 0 0 50px;
}
.tips-information{
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  min-height: 120px;
}
.tips-success{
  color: #7091ff;
}
.tips-error{
  color: #eb0d1d;
}
.borradu-10{
  border-radius: 10px;
}

/* Earth rotates */
.backimgAnime {
  -webkit-animation:goround-data 100s linear infinite;
  animation:goround-data 100s linear infinite
}
@-webkit-keyframes goround-data {
  to {
  -webkit-transform:rotate(1turn);
  transform:rotate(1turn)
   }
}
@keyframes goround-data {
  to {
  -webkit-transform:rotate(1turn);
  transform:rotate(1turn)
   }
}

.foot-part{
  padding: 67px 1.8% 166px;
}
.foot-part a{
  display: block;
  float: left;
}
.foot-part p{
  display: block;
  font-size: 18px;
  color: #b1b1b1;
  padding: 8px 0 0 22px;
  margin: 0;
  float: left;
}

/* Apply this class to body when Modal is open */
.noscroll {
  overflow: hidden;
  position: fixed;
}
.f-white a {
  color: white;
  text-decoration: underline;
}
/* FORMS */
/* Input Text Field */
form .form-control {
  outline: none;
  width: 100%;
  max-width: 456px;
  font-weight: 400;
  font-size: 20px;
  color: #14171a;
  border: 2px solid #537BFF;
  height: 70px;
  line-height: 70px;
  transition: all 0.5s ease;
  padding: 0 1% 0 2.5%;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0 5px 10px #DCE4FF;
  -moz-box-shadow: 0 5px 10px #DCE4FF;
  -webkit-box-shadow: 0 5px 10px #DCE4FF;
}
form .form-control:focus {
  background-color: white;
}
/* Submit Buttons */
form button[type="button"] {
  padding: 0 40px 0 31px;
  height: 70px;
  line-height: 70px;
  background: #678BFF;
  background: linear-gradient(to right, #5980FF, #7696FF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5980FF', endColorstr='#7696FF');
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  outline:none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none !important;
  transition: .1s all ease-in-out;
  /* Disable Safari iOS form input defaults */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border: none;
  vertical-align: top;
  margin-left: -6px;
  box-shadow: 0 5px 10px #DCE4FF;
  -moz-box-shadow: 0 5px 10px #DCE4FF;
  -webkit-box-shadow: 0 5px 10px #DCE4FF;
}
form button.disable {
  opacity: .6;
  cursor: not-allowed;
}
/* Banner Messages */
.banner-message {
  z-index: 99;
  position: fixed;
  top: 0;
  padding: 15px;
  opacity: 0.95;
  width: 100%;
  background-color: white;
  text-align: center;
}
.banner-message.error, .response.error {
  color: red;
}
/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 26px 5px 20px;
  font-size: 24px;
  font-weight: 100;
  color: white;
  border: 1px solid #FFFFFF;
  letter-spacing: 1px;
  border-radius: 35px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none !important;
  transition: .1s all ease-in-out;
  margin:0 18px 10px 0;
}
.btn:hover {
  color: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.btn.white {
  border: 2px solid rgba(255,255,255,1);
  color: var(--black);
}
.btn.holo {
  background-color: transparent;
  border: 2px solid white !important;
  color: white;
}
.btn.holo:hover {
  background-color: white;
  color: var(--black);
}
.android-icon,.ios-icon{
  width: 37px;
  height: 43px;
  display: inline-block;
  vertical-align: middle;
}
.android-icon{
  background: url(../images/android-icon.png) no-repeat center center;
  background-size: contain;
}
.ios-icon{
  background: url(../images/ios-icon.png) no-repeat center center;
  background-size: contain;
}
.white-paperbtn{
  font-size: 30px;
  color: #006776;
  border: 1px solid #6BDBEB;
  padding: 11px 33px;
}
.white-paperbtn:hover{
  color: #00E3FE;
}

.progress-items {
  width: 62%;
  margin: 30px auto;
  padding-left: 50px;
  text-align: left;
  font-size: 18px;
}

.progress-items .item {
  margin: 5px 0;
}

.progress-items .item .checkmark {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.super-video video {
  max-width: 700px;
  width: 90%;
  height: 100%;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.super-video iframe {
  width: 100%;
  height: 100%;
  max-width: 560px;
  min-height: 315px;
}

.super-video {
  margin-top: 30px;
  margin-bottom: 40px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
