/* SOCIAL MEDIA ICONS */
.icon-sm {
  display:inline-block;
  position: relative;
  margin: 10px 0 0 32px;
}
.icon-sm:first-child{
  margin: 10px 0 0 0;
}
.icon-sm a:hover, .contact-logo:hover{
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.25);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.25);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.25);
  transition: all 200ms ease-in;
  transform: scale(1.25);
}
.icon-sm a {
  font-size: 37px;
  color: transparent;
  float: none;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.icon-sm a:hover {
  text-decoration: none;
}
.icon-sm a i{
  color: #E8E8E8;
}
.icon-sm.wechat a{
  font-size: 35px;
}