/* IMAGE PARALLAX STYLING */
.img-parallax {
  width: 100%;
  overflow: hidden;
}
/* Style font on Parallax */
.img-parallax {
  /*text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;*/
}
/* Links on Parallax Section */
.link {
  color: white;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
.link:hover {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
/* Specify Parallax 1 Background */
#img-parallax-1 {
  background-size: 110%;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  background: #5087FF;
  min-height: 64.75rem;
}