.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter,.fade-leave-to{
  opacity: 0
}
.slideLeft-enter-active,.slideLeft-leave-active {
  transition:transform .5s;
}
.slideLeft-enter,.slideLeft-leave-to{
  transform: translateX(-100%);
}
.message-enter-active, .message-leave-active {
  transition: all 1s;
  overflow: hidden;
}
.message-enter,.message-leave-to {
  height: 0 !important;
}

@keyframes rotate11{
  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}
