/**
*** mobile scss
*** Anne 2018/05/23
**/

@import "./mixin.scss";
.mobile-body{
  background: $body-bg;
}
.mobile-bodyFtPd{
  background: $body-bg;
  padding-bottom: r($footer-hg+10);
}
select::-ms-expand{display:none;}
select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 100%;
  background: #fff url(~images/xl.jpg) no-repeat right center;
  background-size: 30px;
  padding: 0 40px 0 3%;
  color: #666;
}
.mobilenav-tabs{
  margin:r(15) auto;
  width: 80%;
  border-radius: r(5);
  overflow: hidden;
  span{
    display:inline-block;
    width:50%;
    height: r(35);
    line-height: r(35);
    text-align: center;
    cursor: pointer;
    @include  f(15px);
    color: $font-color;
    border-radius: 0 r(5) r(5) 0;
    background: $white;
    &:first-child{
      border-radius: r(5) 0 0 r(5);
      float:left;
    }
    &:last-child{
      float:right;
    }
    &.active{
      background: #86A5F8;
      color: $white;
    }
  }
}

/*  mobile transaction */
.mobile-trandatas{
  width: 100%;
  .tranlist-container{
    @include  f(12px);
    color: #787876;

    .tranlist-item{
      background: $white;
      margin: r(10) 0;
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
      a{
        display: block;
      }
    }
    .mtran-itemleft{
      width: 19%;
      text-align: center;
    }
    .mtran-itemright{
       width: 81%;
       position: relative;
       padding: r(10) 0;
      .user-info{
        line-height: r(28);
      }
      .user-name{
        @include  f(14px);
        color: $font-color;
        margin-right: r(8);
      }
      .mpay{
        padding: r(2) r(7);
        @include  f(12px);
        color: $white;
        margin-right: r(5);
        border-radius: r(3);
        display: inline-block;
        text-align: center;
        line-height: normal;
      }
      .alipay{
        background: #03A9F3;
      }
      .wechat{
        background: #14CA39;
      }
      .bank{
        background: #B764FE;
      }
      .tranCountOrRate{
        line-height: r(22);
      }
      .tradeTotal{
        margin-right: r(10);
      }
      .amount-line{
        line-height: r(26);
      }
      .unit-price{
        color: $font-color;
      }
      .quantity-txt{
        margin-left: r(14);
      }
      .amount{
        color: #E95752;
      }
      .right-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: r(10);
      }
      .icon-right-arrow{
        color: #D8D8D8;
        @include  f(19px);
      }
    }

    .tran-contpart{
      background: #F8F8F8;
      border-top: 1px solid #D4D4D4;
      padding:20px 0;
      overflow:hidden;
      .input-box{
        display:inline-block;
        margin-top:12px;
        input{
          height:40px;
          border:1px solid #ddd;
          padding:0 10px;
        }
      }

      .s{
        display:inline-block;
        width:19%;
        float:left;

      }
      .s1{padding:20px;  width:140px;}
      .s2{margin-top:20px;}
      .s1 p{font-size:15px;}
      .btn {
        display: inline-block;
        height:40px;
        line-height: 40px;
        padding: 0 15px;
        margin-top: 6px;
        font-size: 18px;
        background: orange;
        border:0;
        cursor: pointer;
        vertical-align: top;
        border-radius: 3px;
        color: #fff;
        transition: all .3s;
        &.blue{
          background: #5087ff;
        }
        &.gray{
          background: #fff;
          color:#333;
        }
      }
      .btn-block{width:100%;}
    }
    .transaction-btn{
      width: 120px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #5087FF;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      color: #5087ff;
      display: inline-block;
      &.active,&:hover{
        background: #FF9600;
        border: 1px solid #FF9600;
        color: #ffffff;
      }
    }
    .avatars-item{
      width: r(50);
      height: r(50);
      line-height: r(50);
      border-radius: r(35);
      text-align: center;
      @include  f(18px);
      color: $white;
      vertical-align: middle;
      margin: r(10) 0 0;
      display: block;
    }
    .avatar-onlinebtn{
       width: r(40);
       height: r(16);
       line-height: r(16);
       text-align: center;
       margin: r(7) auto 0;
      @include  f(12px);
      border-radius: r(4);
    }
    .now-online{
      color: #E9BA52;
      border: 1px solid #F4DCA8;
    }
    .not-online{
      color: #D8D8D8;
      border: 1px solid #EBEBEB;
    }
    .avatar-onlineicon{
       position: absolute;
       width: r(10);
       height: r(10);
       right: r(0);
       bottom: r(0);
       border: 1px solid #FEEDEB;
       border-radius: r(35);
    }
    .online-icon{
        background: #0cce43;
    }
    .notonline-icon{
       background: #D3D3D3;
    }

  }

}

/*  mobile 表单 */
.mobile-navtabs{
  @include f(16px);
  color: #000000;
  border-bottom:1px solid #D8D8D8;
  background: $white;
  .s{
    width: 33.33%;
    display:block;
    float: left;
    height:r(52);
    line-height: r(52);
    cursor: pointer;
    text-align: center;
    &.active{
      color: #4982FF;
      border-bottom:1px solid #4982FF;
    }
  }
}
.mobile-form-box{
  padding: 0 r(10) r(50);
  .form-group {
    line-height: r(40);
    position: relative;
    padding-top: r(30);
    width: 100%;
  }
  p {
    color: #666666;
    display: block;
    @include  f(16px);
    width: 8%;
    float: left;
  }
  .captcha-code {
    width:r(90);
    float: left;
    display: block;
    position: relative;
    background: no-repeat;

    img {
      height: r(34);
      width: r(90);
      vertical-align: top;
    }
  }
  .form-input{
    border-bottom: 1px solid #D8D8D8;
    float: left;
    width: 92%;
    .captcha-code{
      float:right;
      color:#555;
      line-height: r(49);
      height: r(49);
    }
  }
  .select-country{
    width: 25%;
    height: r(40);
    line-height: r(40);
    border: none;
    color:#333;
    cursor: pointer;
    background:#F5F5F5 url(~images/xl.jpg) no-repeat right center;
    background-size: 30px;
    padding: 0 40px 0 0;
    @include  f(16px);
    float: left;
  }
  .form-subtitle{
    display: block;
    width: 20%;
    float: left;
  }
  .ps-input {
    width: 80%;
    float: left;
    height: r(40);
    border: none;
    outline: none;
    line-height: r(40);
    @include  f(16px);
    color: #333;
    background: none;
  }
  .mobile-input{
    width: 55%;
  }
  .ps-input2 {
    width: 100%;
    float: left;
    height: r(50);
    outline: 0;
    line-height: r(50);
    @include  f(16px);
    color: #333;
    padding: 0 r(20);
  }
  .link-group{
     line-height: r(48);
  }
  .link-register{
    display: block;
    @include  f(18px);
    color: #4982FF;
  }

  i.iconfont {
    position: absolute;
    height: 100%;
    line-height: r(34);
    top: 0;
    left: 0;
    @include  f(16px);
    display: inline-block;
  }
  span.iconfont {
    position: absolute;
    top: 0;
    right: r(10);
    @include  f(16px);
    cursor: pointer;
    line-height: r(34);
    color: #f66;
  }
  .submit{
    display:block;
    width:100%;
    margin:r(31) auto 0;
    background: #4982FF;
    border-radius: 4px;
    height:r(44);
    line-height:r(44) ;
    font-size:r(18);
    color:#fff;
  }
}

input[type=button].mobile-pubtn,
a.mobile-pubtn{
   width: 100%;
   height: r(45);
   line-height: r(45);
   text-align: center;
   border-radius: r(4);
   @include  f(18px);
   color: $white;
   background: #4982FF;
   display: block;
}
input[type=button].pubtn-white,
a.pubtn-white,
a.pubtn-white:hover {
  background: $white;
  color: #FF0000;
  box-shadow: 0 0 3px #ccc;
}
.bind-def-btn{
  display: block;
  width: 100%;
  height: r(50);
  line-height: r(50);
  background: #4982FF;
  border-radius: 4px;
  text-align: center;
  margin-top: r(10);
  color: $white;
}
.confirm-btn-cancel{
  border-right: 1px solid #e5e5e5;
}
.success-enter {
  opacity: 0;
  transform: translateY(50%);
}
.success-leave {
  opacity: 0;
  transform: translateY(-50%);
}
.success-enter-active, .success-leave-active {
  transition: all .5s;
}
