/**
*** mobile scss
*** Anne 2018/05/23
**/

@import "./mixin.scss";
.mobile-body{
  background: $body-bg;
}
.mobile-bodyFtPd{
  background: $body-bg;
  padding-bottom: r($footer-hg+10);
}

.mobilenav-tabs{
  margin:r(15) auto;
  width: 80%;
  border-radius: r(5);
  overflow: hidden;
  span{
    display:inline-block;
    width:50%;
    height: r(35);
    line-height: r(35);
    text-align: center;
    cursor: pointer;
    @include  f(15px);
    color: $font-color;
    border-radius: 0 r(5) r(5) 0;
    background: $white;
    &:first-child{
      border-radius: r(5) 0 0 r(5);
      float:left;
    }
    &:last-child{
      float:right;
    }
    &.active{
      background: #86A5F8;
      color: $white;
    }
  }
}

/*  mobile transaction */
.mobile-trandatas{
  width: 100%;
  .tranlist-container{
    @include  f(12px);
    color: #787876;

    .tranlist-item{
      background: $white;
      margin: r(10) 0;
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
    }
    .mtran-itemleft{
      width: 19%;
      text-align: center;
    }
    .mtran-itemright{
       width: 81%;
       position: relative;
       padding: r(10) 0;
      .user-info{
        line-height: r(28);
      }
      .user-name{
        @include  f(14px);
        color: $font-color;
        margin-right: r(8);
      }
      .mpay{
        padding: r(2) r(7);
        @include  f(12px);
        color: $white;
        margin-right: r(5);
        border-radius: r(3);
        display: inline-block;
        text-align: center;
        line-height: normal;
      }
      .alipay{
        background: #03A9F3;
      }
      .wechat{
        background: #14CA39;
      }
      .bank{
        background: #B764FE;
      }
      .tranCountOrRate{
        line-height: r(22);
      }
      .tradeTotal{
        margin-right: r(10);
      }
      .amount-line{
        line-height: r(26);
      }
      .unit-price{
        color: $font-color;
      }
      .quantity-txt{
        margin-left: r(14);
      }
      .amount{
        color: #E95752;
      }
      .right-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: r(10);
      }
      .icon-right-arrow{
        color: #D8D8D8;
        @include  f(19px);
      }
    }

    .tran-contpart{
      background: #F8F8F8;
      border-top: 1px solid #D4D4D4;
      padding:20px 0;
      overflow:hidden;
      .input-box{
        display:inline-block;
        margin-top:12px;
        input{
          height:40px;
          border:1px solid #ddd;
          padding:0 10px;
        }
      }

      .s{
        display:inline-block;
        width:19%;
        float:left;

      }
      .s1{padding:20px;  width:140px;}
      .s2{margin-top:20px;}
      .s1 p{font-size:15px;}
      .btn {
        display: inline-block;
        height:40px;
        line-height: 40px;
        padding: 0 15px;
        margin-top: 6px;
        font-size: 18px;
        background: orange;
        border:0;
        cursor: pointer;
        vertical-align: top;
        border-radius: 3px;
        color: #fff;
        transition: all .3s;
        &.blue{
          background: #5087ff;
        }
        &.gray{
          background: #fff;
          color:#333;
        }
      }
      .btn-block{width:100%;}
    }
    .transaction-btn{
      width: 120px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #5087FF;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      color: #5087ff;
      display: inline-block;
      &.active,&:hover{
        background: #FF9600;
        border: 1px solid #FF9600;
        color: #ffffff;
      }
    }
    .avatars-item{
      width: r(50);
      height: r(50);
      line-height: r(50);
      border-radius: r(35);
      text-align: center;
      @include  f(18px);
      color: $white;
      display: inline-block;
      vertical-align: middle;
      margin: r(10) 0 0;
    }

  }

}

/*  mobile 表单 */
.mobile-navtabs{
  @include  f(14px);
  color:#6b6b6b;
  border-bottom:1px solid #ddd;
  background: $white;
  .s{
    width: 33.33%;
    display:block;
    float: left;
    height:r(55);
    line-height: r(55);
    cursor: pointer;
    text-align: center;
    &.active{
      border-bottom:3px solid #87b5ff;
    }
  }
}
.mobile-form-box{
  width: 80%;
  margin: 0 auto;
  .form-group {
    line-height: r(54);
    position: relative;
    margin-bottom:r(6);
    width: 100%;
  }
  .validate {
    display: block;
    margin: r(10) 0;
    @include  f(12px);
    color: #13a1ca;
    min-height: r(16);
    text-align: center;
  }
  p {
    text-align: center;
    color: #999;
  }
  .captcha-code {
    width:r(90);
    float: left;
    display: block;
    position: relative;
    background: no-repeat;

    img {
      height: r(34);
      width: r(90);
      vertical-align: top;
    }
  }
  .form-input{
    height: r(50);
    border: 1px solid #ccc;
    background: $white;
    .captcha-code{
      float:right;
      color:#555;
      line-height: r(49);
      height: r(49);
    }
  }
  .select-country{
    float: left;
    width: r(87);
    height: r(48);
    line-height: r(48);
    padding-left: r(20);
    border:0;
    border-right: 1px solid #e0e0e0;
    color:#666;
    cursor: pointer;
  }
  .ps-input {
    width: r(150);
    height: r(50);
    border: 0;
    background: 0 0;
    outline: 0;
    line-height: r(50);
    @include  f(16px);
    color: #333;
    padding: 0 r(20);
  }
  .ps-input2 {
    width: 100%;
    float: left;
    height: r(50);
    outline: 0;
    line-height: r(50);
    @include  f(16px);
    color: #333;
    padding: 0 r(20);
  }
  i.iconfont {
    position: absolute;
    height: 100%;
    line-height: r(34);
    top: 0;
    left: 0;
    @include  f(16px);
    display: inline-block;
  }
  span.iconfont {
    position: absolute;
    top: 0;
    right: r(10);
    @include  f(16px);
    cursor: pointer;
    line-height: r(34);
    color: #f66;
  }
  .submit{
    display:block;
    width:100%;
    margin:0 auto;
    background: #4982FF;
    border-radius: 4px;
    height:r(44);
    line-height:r(44) ;
    font-size:r(18);
    color:#fff;
    margin-top:r(40)
  }
}

